.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery {
  height: 400px;
  width: 70%;
  position: relative;
}
.gallery .carrousel {
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.active {
  display: block;
}
.fa-chevron-up,
.fa-chevron-down {
  position: absolute;
  right: 50%;
  padding: 7px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.595);
  cursor: pointer;
}
.fa-chevron-up {
  transform: translate(50%, 50%);
  z-index: 1;
}
.fa-chevron-down {
  transform: translate(50%, -50%);
  bottom: 0;
}
.thumbnails {
  display: flex;
  flex-direction: column;
  height: 400px;
}
.thumbnails img {
  display: block;
  height: calc(100% / 5);
  filter: brightness(0.3);
}
.tambnail-box {
  position: relative;
}
.bright {
  filter: brightness(1);
}
